@{
    ViewBag.Title = "菜单";
}

<div class="main bgW">
    <ul class="indexul borH clear dib"><li><a href="/History/JobHistory"><i class="index_1_1 ico"></i><span class="F24">作业记录</span></a></li><li><a href="/History/ExamHistory"><i class="index_1_2 ico"></i><span class="F24">考试记录</span></a></li><li><a href="/History/WrongBook"><i class="index_1_3 ico"></i><span class="F24">查看错题</span></a></li><li><a href="/history/Weaknesses"><i class="index_2_1 ico"></i><span class="F24">查看弱项</span></a></li><li><a href="/history/Progress"><i class="index_2_2 ico"></i><span class="F24">查看进步</span></a></li><li><a href="/Contact/BindInfo"><i class="index_2_3 ico"></i><span class="F24">账号信息</span></a></li><li><a href="/Contact/Help"><i class="index_3_1 ico"></i><span class="F24">使用指南</span></a></li></ul>
</div>