.header{width:100%;line-height:42px;height:42px;overflow:hidden;zoom:1}
.left-select{;width:36%;border-right:1px solid #00ca32;float:left;height:42px;}
.header-right-title{float:left;text-align:center;width:63%;height:42px;white-space: nowrap;text-overflow: ellipsis;}
#menuContr{bottom:45px}


