.part{
   min-height:112px;
    width:94%;
    box-sizing:border-box;
    background:#ffffff;
    border:1px #d9d9d9 solid;
    margin:0 auto;
    margin-top:15px;
}
.part img{
    margin-left:3.2%;
    margin-top:-4px;
}
.title{
    display:inline-block;
    margin-top:10px;
    margin-left:2%;
    vertical-align:top;
    font-size:1.6rem;
}
.part p:first-of-type{
  line-height:30px;
  font-size:1.4rem;
  margin-left:3.2%;
 }
.part hr{
    border:none;
    width:94%;
    text-align:center;
    border:1px #f2f2f2 solid;
     border-left-style:none;
    border-right-style:none;
    border-bottom-style:none;
}
.part p:last-of-type{
    line-height:30px;
    font-size:1.4rem;
    margin-left:3.2%;
    color:#999999;
}
.datatime{
    float:right;
    margin-right:3.2%;
}
.main{
    min-height:666px;
    width:100%;
    background:#ebebeb;
    font-family: 微软雅黑;
}