@model Mfg.EI.WeiXin.ViewModel.Bulletin
@{
    ViewBag.Title = "最新通知";
}
<div>
    <div class="p20">
        <ul>
            @foreach (var item in Model.BulletinList)
            {
                <li class="borH bgW mb20 p30 clear">
                    <a href="/Contact/BulletinInfo.html?Bid=@item.ID">
                        <i class="wxjt r mt30"></i>
                        <div class="l pct90">
                            <p class="lh55 col3">@item.ContentTitle</p>
                            <div class="col9 F22">@item.CreateTime</div>
                        </div>
                    </a>
                </li>
                
            }
        </ul>
        @Html.Raw(Model.Pager)
    </div>
</div>