@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta content="yes" name="apple-touch-fullscreen">
    <link href="/Content/mweb.css?v=1.1" rel="stylesheet" />
    <link href="/Content/weixin.css?v=1.1" rel="stylesheet" />
    <title>帮助</title>
    <script type="text/javascript" src="/Scripts/jquery-1.8.2.js"></script>
</head>
<body>
    <div>
        <ul class="zysqul ">
            <li class="zysqli  zysphide " id="help_Htype">
                <a href="javascript:;" class="F30 col">1、作业记录</a>
                <p class="F26 zysqlip tid">
                    在这里可以查到您家孩子写作业情况，包括尚未作答的作业，已经上交的作业以及已经批改的作业。点击查看详情可以逐题查看作业题，在已经批改的作业中，能够看到试题解析、您家孩子的作答内容以及老师批改内容。                </p>

            </li>
            <li class="zysqli  zysphide" id="help_Hquestions">
                <a href="javascript:;" class="F30 col">2、考试记录</a>
                <p class="F26 zysqlip tid">在这里可以查到您家孩子考试情况，包括尚未作答的试卷，已经上交的试卷以及已经批改的试卷。点击查看详情可以逐题查看作业题，在已经批改的作业中，能够看到试题解析、您家孩子的作答内容以及老师批改内容。</p>
            </li>
            <li class="zysqli  zysphide" id="help_Hadd">
                <a href="javascript:;" class="F30 col">3、查看错题</a>
                <p class="F26 zysqlip tid">这里是您家孩子，做错的所有试题，可以按科目逐题查看。您可以看到题干、解析、以及您家孩子作答内容。</p>
            </li>
            <li class="zysqli  zysphide" id="help_Hoffer">
                <a href="javascript:;" class="F30 col">4、查看弱项</a>
                <p class="F26 zysqlip tid">您可以按科目、按月查看孩子的弱项，了解孩子最薄弱知识点掌握情况。</p>
            </li>
            <li class="zysqli  zysphide" id="help_Hanswer">
                <a href="javascript:;" class="F30 col">5、查看进步</a>
                <p class="F26 zysqlip tid">您可以按科目、按月查看孩子的进步情况，对孩子的每一个成长都了如指掌。</p>
            </li>
            <li class="zysqli  zysphide" id="help_Hreport">
                <a href="javascript:;" class="F30 col">6、账号信息</a>
                <p class="F26 zysqlip tid">这里可以将您家孩子的账号和您的微信号绑定。这样您就可以随时查看、了解孩子的学习情况。</p>
            </li>
         
        </ul>
    </div>
    <script type="text/javascript">
        var curIndex;
        $('li').each(function (idx, item) {
            $(item).mouseover(function () {
                $(this).attr('class', ($(this).attr('class') + ' liclick'));
            });
            $(item).mouseout(function () {
                $(this).attr('class', $(this).attr('class').replace('liclick', ''));
            });
            $(item).click(function () {
                if (item != curIndex) {
                    var item1 = curIndex ? $(curIndex) : $(item)[0];
                    $(item1).attr('class', 'zysqli zysphide');
                }
                if ($.trim($(this).attr('class')) == 'zysqli') {
                    $(this).attr('class', 'zysqli zysphide');
                } else {
                    $(this).attr('class', 'zysqli');
                }
                curIndex = item;

            });

        });
        (function () {
            var helpId = window.location.toString().split("#")[1];
            if (helpId) {
                $("html,body").animate({ scrollTop: $("#help_" + helpId).offset().top }, 1000);
                $("#help_" + helpId).trigger("click");
            }
        })();
    </script>
</body>
</html>                                          