@model List<Mfg.EI.WeiXin.ViewModel.Teacher>
@{
    ViewBag.Title = "老师联系方式";
}
<div>
    <div class="p20">
        <ul>
            @if (Model != null)
            {
                foreach (var info in Model)
                {
                    <li class="borH bgW mb20 p30">
                        <p class="mb20">@info.Tname<span class="ml50 col9 F22 mb30">（@info.Title）</span></p>
                        <div class="colskin"><a><i class="phone ico mr5"></i><span class="F26">：@info.Phone</span> </a><a class="ml100"><i class="koukou ico mr5"></i><span class="F26">：@info.QQ</span></a></div>
                    </li>
                }
            }
        </ul>

    </div>
</div>