<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mfg.comm.db.sql" version="1.0.7" targetFramework="net45" />
  <package id="Mfg.Comm.PhoneMsg.PhoneMsgHelper" version="1.0.0" targetFramework="net45" />
  <package id="Mfg.Mongo.Bson" version="1.0.0" targetFramework="net45" />
  <package id="Mfg.Mongo.Driver" version="1.0.0" targetFramework="net45" />
</packages>