<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <ul id="list">
        <li><a href="#beijing">北京</a></li>
        <li><a href="#shanghai">上海</a></li>
        <li><a href="#shenzhen">深圳</a></li>
        <li><a href="#guangzhou">广州</a></li>
        <li><a href="#tianjin">天津</a></li>
    </ul>
    <script>
        window.onhashchange = function () {
            alert(99)
        }
    </script>
</body>
</html>
