/*玫红模板样式*/
.colskin{color:#ce014e}
.borskin{border:1px solid #ce014e;}
.bbskin{border-bottom:1px solid #ce014e;}
.btskin{border-top:1px solid rgba(206,1,78,0.2);}
.bb_skin{border-bottom:1px solid rgba(206,1,78,0.2);}
.bgskin{background:#ce014e}
.bghover{background:rgba(206,1,78,0.1)}
.bgnow{background:rgba(206,1,78,0.2)}
.nav{background:#ce014e;}
 .nav a:hover, .nav a.show {
            background: #ae0040;
        } 
.user{background:url("../content/skin1/magico.png") no-repeat}
.vipuser{background:url("../content/skin1/magico.png") no-repeat;background-position:-50px -23px;}
.look{background:url("../content/skin1/magico.png") no-repeat;background-position:-20px -25px;}
.downLoad{width:17px;height:16px;background:url("../content/skin1/taskico.png") no-repeat;background-position:0 -270px;}
.write{background:url("../content/skin1/magico.png") no-repeat;background-position:0 -23px;}
.biluico_50{background:url("../content/skin1/magico.png") no-repeat;background-position:-50px 0;}
.mgtabshow{border:1px solid #ce014e;color:#ce014e}
.mgtab:hover{color:#ce014e}
.mgllist li,.mgllist_a li{cursor:pointer;position:relative}/*学生同步学习左边需要relative*/
.mgllist li:hover{background:rgba(206,1,78,0.04)}/*改变颜色值*/
.mgllist li.bghover:hover{background:rgba(206,1,78,0.1)}
.mgllist_a a:hover{background:rgba(206,1,78,0.04)}
.mgllist_a a.bghover:hover{background:rgba(206,1,78,0.1)}
.test_list li{margin-bottom:20px;clear:both}
.knowledge{/*width:56%;*/padding-left:30px;cursor:pointer;display:block;}
.knowledge:hover{background:rgba(206,1,78,0.04)}
.bghover:hover,.bghover:hover{background:rgba(206,1,78,0.1)}
.center_subject_tb th{ background:rgba(206,1,78,0.1);line-height:40px;border:1px solid #e7e9ea;text-align:center}
.bbH_table tr:hover{background:rgba(206,1,78,0.04)}
.bbH_table tr.bghover:hover{background:rgba(206,1,78,0.1)}
.searchbg{background:url("../content/skin1/magico.png") no-repeat;background-position:-15px 6px;}
.wb_show,.wb_side:hover{color:#ce014e;border-bottom:1px solid #ce014e;}
.li_close{border-style:solid;border-width:7px;border-color:transparent  transparent transparent #ce014e;display:inline-block;zoom:1;*display:inline;width:0;height:0;position:absolute;left:10px;top:10px }
.li_open{border-style:solid;border-width:7px;border-color: #ce014e transparent  transparent transparent;display:inline-block;zoom:1;*display:inline;width:0;height:0;left:10px;top:12px;position:absolute }
.task_1{background:url("../content/skin1/taskico.png") no-repeat;background-position:0 0;}
.task_1_2{background:url("../content/skin1/taskico.png") no-repeat;background-position:-25px 0;}
.task_2_1{width:32px;height:32px;background:url("../content/skin1/taskico.png") no-repeat;background-position:0 -30px;}
.task_2_2{width:33px;height:32px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-35px -30px;}
.task_2_3{width:32px;height:32px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-72px -30px;}
.task_1_4{width:20px;height:22px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-80px 0;}
.teach_1_1{width:20px;height:25px;background:url("../content/skin1/taskico.png") no-repeat;background-position:0 -71px ;}
.teach_1_2{width:20px;height:25px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-25px -71px ;}
.teach_1_3{width:20px;height:25px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-55px -71px ;}
.teach_1_4{width:20px;height:25px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-80px -71px ;}
.gopre{width:12px;height:18px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-48px 0;}
.gonext{width:12px;height:18px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-63px 0;}
.today{border-top:2px solid #ce014e;margin-top:-1px}
.work_1_1{width:20px;height:20px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-42px -132px;}
.work_1_2{width:20px;height:20px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-65px -132px;}
.add_ques{width:15px;height:20px;background:url("../content/skin1/taskico.png") no-repeat;background-position:0 -106px;}
.worknum{width:20px;height:22px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-25px -106px;}
.hover_edit{width:15px;height:15px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-65px -106px;}
.hover_del{width:15px;height:15px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-48px -106px;}
.hover_up{width:15px;height:15px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-83px -106px;}
.hover_down{width:15px;height:15px;background:url("../content/skin1/taskico.png") no-repeat;background-position:0 -131px;}
.hover_change{width:15px;height:15px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-20px -132px;}
.ques_list_edit dt:hover ,.ques_list_edit dd:hover{border-color:#ce014e}
a.t_homework_name_show {color:#ce014e;border:1px solid #ce014e;}
.t_homework_name_show .sj{background:url("../content/skin1/taskico.png") no-repeat;background-position:0 -151px;}
a.t_homework_name_has {border:1px solid #BFBFBF;background:rgba(206,1,78,0.2)}
.t_homework_name_has .sj{background:url("../content/skin1/taskico.png") no-repeat;background-position:-50px -233px;}
.pre{border-style:solid;border-width:5px;border-color:transparent #ce014e transparent transparent;height:0px;width:0 }
.next{border-style:solid;border-width:5px;border-color:transparent  transparent transparent #ce014e;height:0px;width:0}
.print{width:18px;height:18px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-88px -132px;}
.t_test1,.t_test2,.t_test3,.t_test4{width:57px;height:57px;background:url("../content/skin1/t_testico.png") no-repeat;margin-top:35px;margin-bottom:15px}
.t_test2{background-position:-87px 0}
.t_test3{background-position:-161px 0}
.t_test4{background-position:-244px 0}
.t_test_report{background:url("../content/skin1/taskico.png") no-repeat;background-position:-20px -151px;width:20px;height:20px}
.radioUp,.radioOff{
background: url("../content/skin1/radio.png") no-repeat ;
width: 12px;
height: 12px;
display:inline-block;
overflow: hidden;
margin:5px 15px 0 0;
zoom:1
}
.radioUp{background-position:-5px -7px;}
.radioOff{
background-position:-5px -64px
}
.collect{width:15px;height:20px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-42px -149px;}
.answer{width:15px;height:20px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-66px -149px;}
.share{width:15px;height:20px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-88px -149px;}
.sort_up{background:url("../content/skin1/taskico.png") no-repeat;background-position:-20px -181px;width:15px;height:18px}
.sort_down{background:url("../content/skin1/taskico.png") no-repeat;background-position:0 -181px;width:15px;height:18px}
.up_paper{background:url("../content/skin1/taskico.png") no-repeat;background-position:-37px -175px;width:25px;height:25px}
.goback{background:url("../content/skin1/taskico.png") no-repeat;background-position:-70px -168px;width:32px;height:32px;}
.task_grow{width:20px;height:25px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-25px -209px ;}
.result_dress{width:60px;height:25px;border-radius:3px;border:1px solid #ce014e;text-align:center;line-height:25px;color:#ce014e;display:inline-block;zoom:1}
.answerico{width:20px;height:20px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-50px -209px;}
.wb_answer{width:15px;height:15px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-70px -209px;}
.jiangjie{width:16px;height:16px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-88px -209px;}
.tifen{width:16px;height:16px;background:url("../content/skin1/taskico.png") no-repeat;background-position:0 -244px;}
.tip_skin1{width:18px;height:18px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-26px -243px;}

.camera{width:18px;height:18px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-73px -243px;}
.report_set{width:18px;height:18px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-25px -270px;}
/*弹出层样式*/
.aui_buttons button{ background: #ce014e;}
.webuploader-pick{ background: #ce014e;}
.hov_bor:hover{border:1px solid #ce014e}

/*选择题按钮样式*/
.radioUp1,.radioOff1{
background: url("../content/skin1/radio.png") no-repeat ;
}
.radioUp1{background-position:14px 2px;}

.radioOff1{
background-position:14px -55px
}
/*jia*/
.tip_skin{width:18px;height:18px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-26px -243px;position: absolute;right: 5px;top: 7px;display: none
}
.popjt{width:100px;height:200px;background:url("../content/skin1/popjt.png") no-repeat center center;margin-right:30px}
.tip_skin{width:18px;height:18px;background:url("../content/skin1/taskico.png") no-repeat;background-position:-26px -243px;position: absolute;right: 5px;top: 7px;display: none}
 .adminman {width: 18px;height: 25px;background: url("../content/skin1/taskico.png") no-repeat;background-position: -48px -265px;}
 .subjectico{width:105px;height:110px;background: url("../content/skin1/versiontest.png") no-repeat;background-position: 0 0;}
.learnico{width:105px;height:110px;background: url("../content/skin1/versiontest.png") no-repeat;background-position: -147px 0 ;}
.test_look{width:15px;height:15px;background: url("../content/skin1/taskico.png") no-repeat;background-position: -74px -271px ;}

/*资源题库*/
.basket{width:15px;height:15px;background: url("../content/skin1/quesico.png") no-repeat;background-position: 0 0;}
.r_empty{width:16px;height:16px;background: url("../content/skin1/quesico.png") no-repeat;background-position: -22px 0 }
.moreico{width:20px;height:15px;background: url("../content/skin1/quesico.png") no-repeat;background-position: -74px 0 ;}
.r_select li:hover{background:rgba(206,1,78,0.4)}
.lookfalse_s{width:15px;height:15px;background: url("../content/skin1/taskico.png") no-repeat;background-position: -27px -291px ;}
.r_searchbg{  background: url("../Content/skin1/quesico.png") no-repeat;background-position: -40px 6px;}
.jiexi,.shitilan,.shoucang{cursor:pointer;color:#ce014e;margin-right:15px}

.analysis_div{border-top: 1px solid rgba(206,1,78,0.2)}
.quesh2:hover:hover,.paperpreview li:hover{border-color:rgba(206,1,78,0.2)}
.suppose a:hover{color:#ce014e}
.questions li:hover{border:1px solid #ce014e}
.testAnswer ul li:hover{border:1px solid #ce014e}


/*20151205*/
.planques .quesh2:hover{border-color:transparent}
.finish .step1,.finish .step2,.finish .step3{background:url("../content/skin1/setneed.jpg") no-repeat;}
.finish .step1{background-position:0 0}
.finish .step2{background-position:-305px 0}
.finish .step3{background-position:-610px 0}
/*.alljt{width:87px;height:57px;background:url("../content/skin1/alljt.png") no-repeat center center;}*/
.upone,.downone{width:52px;height:52px;background:url("../content/skin1/updown.png") no-repeat center center;display:block;cursor:pointer}
.upone{background-position:-3px -4px}
.downone{background-position:-3px -95px}
.plantree{border-left:2px solid #ce014e}
.dashcircle,.circle{width:20px;height:20px;background:url("../content/skin1/planico.png") no-repeat;position:absolute;top:5px;left:-32px }
.selectlist .circle{background-position:-3px -3px}
  .circle{background-position:-3px -89px}
.selectlist .planjt{position:absolute;top:10px;left:-8px;background:url("../content/skin1/leftjt_skin.png") no-repeat;width:8px;height:12px}
.selectlist .planlist{padding-top:10px;padding-bottom:10px;border-radius:3px;border:1px solid #ce014e;background:#fff}
.planlist li:hover{background:rgba(206,1,78,0.1);}
.Recommed{width:45px;height:21px;background:url("../content/skin1/Recommendico.png") no-repeat;margin-right:-30px;margin-top:5px}
/*.upjt{width:12px;height:14px;background:url("../content/skin1/updownjt.png") no-repeat 0 0;}
.downjt{width:12px;height:14px;background:url("../content/skin1/updownjt.png") no-repeat left bottom;}*/
.classlist li .tipcircle{position:absolute;top:10px;right:-30px;display:none;width:31px;height:13px;background:url("../content/skin1/nowjt.png") no-repeat;}
.classlist li.now a{background:#ce014e;color:#fff;}
.classlist li.now  .tipcircle{display:inline-block}
.setplan{width:13px;height:16px;background:url("../content/skin1/setplan.png") no-repeat center center}
.upclass,.downclass,.upclass_disable,.downclass_disable{width:23px;height:13px;background:url("../content/skin1/changepage.png") no-repeat}
.upclass {background-position:left bottom;}
.downclass {background-position:right top;}
.upclass_disable {background-position:left top;}
.downclass_disable { background-position:right bottom;}
.absopt li:hover{background:rgba(206,1,78,0.1)}
.plancaption:hover {border:1px solid rgba(206,1,78,0.2)}
.setplanol li:hover{ background: rgba(206,1,78,0.1)}
.example_ques{width:48px;height:22px;background:url("../content/skin1/label.png") no-repeat 0 0}
.exercise_ques{width:48px;height:22px;background:url("../content/skin1/label.png") no-repeat left bottom}
.setplancon1,.setplancon2,.setplancon3,.setplancon4,.setplancon5{
    width:18px;height:23px;background:url("../content/skin1/icon.png") no-repeat ;
}
.setplancon1{background-position:0 0}
.setplancon2{background-position:0 -32px}
.setplancon3{background-position:0 -64px}
.setplancon4{background-position:0 -96px}
.setplancon5{background-position:0 -128px}
.pluscon{width:14px;height:14px;background:url("../content/skin1/pAndm.png") no-repeat left top;position:absolute;right:10px;top:10px;}
.minuscon{width:14px;height:14px;background:url("../content/skin1/pAndm.png") no-repeat left bottom;position:absolute;right:10px;top:10px}