@{
    ViewBag.Title = "ErorrHistory";
}

<div >
    <div class="borH bgW">
        <div class="p30  lh50 F24">

            <p class="bbH ">
                <table style="WORD-BREAK: break-all" border=0 cellspacing=0 width=650>
                    <tbody>
                        <tr>
                            <td>按要求写句子。<br>我的舞台从床上转移到了铺着练功毯的院子里。<br>缩句：_____________________________________</td>
                        </tr>
                    </tbody>
                </table>
            </p>

            <div class="bbH">
                <div class="mt30">正确答案：<span class="col_right">B</span> ，你的答案：<span class="col_wrong"> C </span>，回答 <span class="col_wrong">错误</span>。</div>
                <div>本题共被作答 <span class="col_right">1213</span> 次，正确率为 <span class="col_right">66%</span>，易错项为 <span class="col_wrong">A</span> 。</div>
                <div class="mt30">
                    <span class="b">解答：</span>
                    <p>对于正数和负数的概念，不能简单的理解为：带“＋”号的数是正数，带“－”号的数是负数。当a表示0时，-a就是在0的前面加一个负号，仍是0，0不分正负；当a表示负数时，-a就不是负数了，它是一个正数</p>
                </div>
                <div class="mt30">
                    <span class="b">笔记：</span>
                    <p class="tid">对于正数和负数的概念，不能简单的理解为：带“＋”号的数是正数，带“－”号的数是负数。当a表示0时，-a就是在0的前面加一个负号，仍是0，0不分正负；当a表示负数时，-a就不是负数了，它是一个正数</p>
                </div>
            </div>

            <div class="tc pt30"><a class="bgskin btn1">上一题</a><a class="bgskin btn1">下一题</a></div>
        </div>
    </div>
</div>
