<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.1" targetFramework="net45" />
  <package id="Mfg.Comm.Func" version="1.5.7" targetFramework="net45" />
  <package id="Mfg.Comm.Log.LogHelper" version="1.0.3" targetFramework="net45" />
  <package id="mfg_comm.db.redis" version="1.0.6" targetFramework="net45" />
  <package id="mfg_zookeeper_registry" version="1.1.5" targetFramework="net45" />
  <package id="mfg_zookeeper_service" version="1.0.21" targetFramework="net45" />
  <package id="MfgZooKeeperNet" version="1.0.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.0.0" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="4.0.0.0" targetFramework="net45" />
</packages>