<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mfg.EI.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.140.24;Initial Catalog=EI;User ID=root;Pwd=123456;MaxValue=30" providerName="System.Data.SqlClient"/>
    <!--魔方格接口配置-->
    <add name="user" connectionString="Data Source=192.168.200.16;Initial Catalog=mfg_usercenter;uid=webuser;pwd=$is!10000NengDi?;Pooling=True" />
    <add name="bill" connectionString="Data Source=192.168.200.16;Initial Catalog=mfg_usercenter;uid=webuser;pwd=$is!10000NengDi?;Pooling=True" />
    <add name="tool" connectionString="Data Source=192.168.200.11;Initial Catalog=ddt_tool;uid=webuser;pwd=$is!10000NengDi?;Pooling=True" />
    <add name="mongo_user" connectionString="mfguser|webuser:$is!10000NengDi?" />
    <!--魔方格接口配置-->
  </connectionStrings>
  <appSettings>

    <!--<add key="ConnectionString" value="Database=EI;Data Source=192.168.200.62;User Id=Eiuser;Password=kok11$$0NIHAO!!9898sss@ll;pooling=true;CharSet=utf8;port=5008" />-->
    <add key="ConnectionString" value="Database=ei;Data Source=192.168.140.24;User Id=root;Password=123456;pooling=true;CharSet=utf8;port=5008" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="JsUrl" value="http://o2osrc.mofangge.com" />
    <add key="CssUrl" value="http://o2osrc.mofangge.com/EI/Content" />-->
    <add key="JsUrl" value="http://localhost:5918/Scripts" />
    <add key="CssUrl" value="http://localhost:5918" />
    <add key="MfgKey" value="Mfg" />

    <!--资源，接口 Start-->
    <add key ="ResourceIpPort" value ="192.168.140.19:8889" />
    <add key="ResourceApiQueryIp" value="192.168.140.19:8866" />
    <add key="ResourceApiProviderIp" value="192.168.140.19:8868" />
    <!--资源，接口  END-->
    <add key="ImageServiceUrl" value="http://o2o.mofangge.net:88" />
    <add key="aesKEY" value="1xdDF_0!"/>
    <add key="aesIV" value="8!DSEM0_"/>
    <add key="PhotoUrl" value="/HeadPhoto"/>
    <!--魔方格接口配置-->
    <add key="UcClusterNameCas" value="CheckLogin" />
    <!--redisClusterName-->
    <!--<add key="zooKeeperAddress" value="192.168.180.198:2181" />-->
    <add key="mongohost" value="192.168.180.182:12115,192.168.180.182:12116,192.168.180.182:12117" />
    <add key="mongoreplicasetname" value="mfgmongo1" />
    <add key="mongotimeout" value="10" />
    <!--魔方格接口配置-->
    <add key="taoshijuan_service" value="http://www.mofangge.com:8088/api/tsjAPI.asmx" />
    <!--Redis集群配置开始-->
    <add key="RedisClusterUser" value="userinfo" />
    <add key="RedisClusterJob" value="jobitem" />
    <add key="RedisCacheTimeOut" value="20" />
    <add key="zooKeeperAddress" value="192.168.180.198:2181,192.168.180.198:2182,192.168.180.198:2183" />
    <!--Redis集群配置结束-->
    <add key="WeixinToken" value="787ZJYa2trmtx73f13k3DLPHwrX4ChNLsXHH4KWX_q087eDEaA3un4yH8HYhjUE1Yc0aR6vpuLCvLoXtiPuVU9KhegwTMQobyndPphm8YrIQWYdAIAEKM"/>
  </appSettings>


  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log/" />
      <appendToFile value="true" />
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name="RollingStyle" value="Composite" />
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--此处按日期产生文件夹，文件名固定-->
      <param name="DatePattern" value="yyyy-MM-dd'.log'" />
      <!--限制文件大小-->
      <param name="MaximumFileSize" value="10MB" />
      <!--是否更改扩展名-->
      <param name="PreserveLogFileNameExtension" value="true" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name="MaxSizeRollBackups" value="-1" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="time:%date loglevel:%-5level Type:%logger  Message:%message%newline" />
        <!--<conversionPattern value="%message%newline" />-->
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="LogInfo" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppender" />
      <level value="DEBUG" />
    </root>
  </log4net>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.0" />
      </system.Web>
  -->
  <system.web>
    <!-- <customErrors mode="On" defaultRedirect="/Error/Index">
    </customErrors>-->
    <customErrors mode="Off" />
    <compilation targetFramework="4.0" debug="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.6.0" newVersion="6.9.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <!--20150605修改-->
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
      <!--20150605修改-->
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <Mfg.EI.Web.Properties.Settings>
      <setting name="Mfg_EI_Web_com_mofangge_o2ofile_UploadImgService" serializeAs="String">
        <value>http://o2ofile.mofangge.com/UploadImgService.asmx</value>
      </setting>
      <setting name="Mfg_EI_Web_GoodPaper_tsjAPI" serializeAs="String">
        <value>http://www.mofangge.net:8000/api/tsjAPI.asmx</value>
      </setting>
    </Mfg.EI.Web.Properties.Settings>
  </applicationSettings>
</configuration>